/* Colors and font*/
body{
	background: rgb( 250, 250, 250);
	color: #575F7D;
	font-family: helvetica;
	font-size: 16px;
	font-weight: lighter;
	
}
h1, h2, h3, a {
	font-family: roboto , sans—cherif;

}
h1{
	color: #575F7D;
	font-size: 32px;
	font-weight: lighter;

}
h2{
	color: #7ECE90;
	font-size: 24px;
	font-weight: lighter;
}
h3{
	color: #7ECE90;
	font-size: 24px
	font-weight: lighter;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 128);
	font-weight: 600;
	font-size: 18px;
	
	

}
a:hover{
	color: black;
}


/* Custom design with class */
.container {
  width: 780px;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.4)

}
.card—white {
	background-color: rgb(255, 255, 255);
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
	border-radius: 4px;
	text-align: center;
	margin: 40px auto;
	width: 700px;
}
.img—circle {
	border-radius: 50%;
}
.btn—blue  {
	background-color: rgb(0, 0, 255);
	color: white;
	padding: 15px 20px;
	width: 15px;

}
.btn—blue:hover {
	background-color: black;
	color: white;

}
.list—horizental {
	list-style: none;

}
.list—horizental li {
	display: inline;
	padding: 10px

}







